apiVersion: apps/v1
kind: Deployment
metadata:
  name: image-generation-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: image-generation
  template:
    metadata:
      labels:
        app: image-generation
    spec:
      containers:
        - name: image-generation
          image: gcr.io/citric-lead-450721-v2/silk-image-generation:1.0.1
          ports:
            - containerPort: 8484
          env:
            - name: PYTORCH_CUDA_ALLOC_CONF
              value: "expandable_segments:True"
          resources:
            limits:
              nvidia.com/gpu: 1
              cpu: "8"
              memory: "48Gi"
            requests:
              nvidia.com/gpu: 1
              cpu: "4"
              memory: "32Gi"
      tolerations:
        - key: nvidia.com/gpu
          operator: Exists
          effect: NoSchedule
        - key: node.kubernetes.io/memory-pressure
          operator: Exists
          effect: NoSchedule
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: nvidia.com/gpu
                    operator: NotIn
                    values:
                      - "1"
---
apiVersion: v1
kind: Service
metadata:
  name: image-generation-service
spec:
  selector:
    app: image-generation
  ports:
    - port: 8484
      targetPort: 8484
  type: ClusterIP
